In [30]:
"""Question 1:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated
sequence."""

import math as md
def squt_d(*args):
    try:
        C = 50
        H = 30
        l = []
        for i in args:
            s = md.sqrt((2*C*int(i))/H)
            l.append(int(s))
        return l
    except Exception as e :
        print(e)

In [31]:
squt_d(100,150,180)

[18, 22, 24]

In [17]:
"""Question 2:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The
element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,Â¡Y-1."""
def generate_2Darray(x,y):
    try:
        l =[[0 for col in range(x)] for row in range(y)]
        for row in range(y):
            for col in range(x):
                l[row][col]=row*col
        return l
    except Exception as e:
        print(e)

In [18]:
generate_2Darray(5,3)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [28]:
"""Question 3:
Write a program that accepts a comma separated sequence of words as input and prints the
words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world"""
def seq(*args):
    try:
        l = []
        for i in args:
            if type(i)== str:
                l.append(i)
        return sorted(l)
    except Exception as e :
        print(e)

In [29]:
seq('without','hello','bag','world')

['bag', 'hello', 'without', 'world']

In [42]:
"""Q4 .Write a program that accepts a sequence of whitespace separated words as input and prints
the words after removing all duplicate words and sorting them alphanumerically"""

def seq_alph(x):
    try:
        s = x.split(' ')
        l = []
        for i in s:
            if i not in l:
                l.append(i)
        l.sort()
        return (' ').join(l)
    except Exception as e:
        print(e)

In [40]:
seq_alph('my name is vijit')

'is my name vijit'

In [54]:
"""Question 5:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10"""

def count_word(x):
    try:
        count = 0
        for i in x:
            if i.isalpha():
                count += 1
        print('letters is {}'.format(count))
        num = 0
        for i in x:
            if i.isnumeric():
                num = num + 1
        print('digit is {}'.format(num))
    except Exception as e:
        print(e)

In [55]:
count_word("hello world! 123524")

letters is 10
digit is 6

In [60]:
"""Question 6:
A website requires the users to input username and password to register. Write a program to
check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them
according to the above criteria. Passwords that match the criteria are to be printed, each
separated by a comma."""

import re
def check_pass(x):
    try:
        s = x.split(',')
        l = []
        for i in s:
            if len(i) > 6 and len(i)< 12 :
                if re.search("([a-z])+", i):
                    if re.search("([A-Z])+", i):
                        if re.search("([0-9])+", i):
                            if re.search("([$#@])+", i):
                                l.append(i)
        
        return (' ').join(l)
    except Exception as e:
        print(e)

In [61]:
check_pass("ABd1234@1,a F1#,2w3E*,2We3345")

'ABd1234@1'

SyntaxError: invalid syntax (Temp/ipykernel_4532/1296921061.py, line 1)